fastapi==0.115.14
uvicorn==0.34.0
docker==7.1.0
pydantic==2.10.3
pydantic-settings==2.7.0
aiohttp==3.11.10
httpx==0.28.1
python-multipart==0.0.19
paramiko==3.4.0
scp==0.15.0
modelscope==1.37.1
aiosqlite==0.20.0

